body {
    margin: 0;
    background: black;
    text-align: center;
    color: green;
    font-size: 35;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.center-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#embededGame {
    width: 80%;
    height: 80%;
}
